<!DOCTYPE html>
<html>
<head>
	<title> </title>
	<link type="text/css" rel="stylesheet" href="normalize.css" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script> 
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <!-- App javascript -->
    <script src="main.js"></script>
</head>
<body>
	<div class="toptitle">TAC TIC TOE</div>
	<div x-ng-app="myApp">
		<div x-ng-controller="BoxController" x-ng-model="gameContainer" class="wrap">
			<div class="announcement" ng-show="gameContainer.determineWinner" ng-hide="!gameContainer.determineWinner">Player {{gameContainer.winnerAnnounce}} Wins this Round</div>
			<div class="announcement" ng-show="!gameContainer.determineWinner" ng-hide="gameContainer.determineWinner">Game is on. It is Player {{gameContainer.whichPlayer}}'s turn</div>
			<div class="box" ng-repeat="cell in gameContainer.cellListArray" ng-click="cellOnClick(cell)" x-my-Rotate mydata="cell" ng-class="{rotatebox: hover}" ng-mouseover="hover = true" ng-mouseout="hover = false"> 
				<div class="letter" ng-bind="cell.placeholder"> </div>
			</div> </br>
			<button class="restart" type="button" ng-click="restartGame()">Restart Game</button>
			<button id="special" type="button" ng-click="special()">Special Move</button>
			<div>X's Score: {{gameContainer.totalScore.xScore}}</div>
			<div>Ties: {{gameContainer.totalScore.ties}}</div>
			<div>O's Score: {{gameContainer.totalScore.xScore}}</div>
			<div ng-class="announcement" ng-show="gameContainer.determineWinner" ng-hide="!gameContainer.determineWinner" ng-model="announcewinner">Player {{gameContainer.winnerAnnounce}} Wins this Round</div>
		</div>
		<div class="bar" id="stats"></div> <div class="bar" id="rank"></div> <div class="bar" id="info"></div>
	</div>
</body>
</html>